<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728975267704-gqlndf2d378tgt8i084gt6iatq1agnp8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728975267704-gqlndf2d378tgt8i084gt6iatq1agnp8</string>
	<key>API_KEY</key>
	<string>AIzaSyCiBU3xSI4lo8xgvWe3QhH0KNi5bnUKNQs</string>
	<key>GCM_SENDER_ID</key>
	<string>728975267704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.uhcl.cse.Sports-Updates</string>
	<key>PROJECT_ID</key>
	<string>sportupdates-6a290</string>
	<key>STORAGE_BUCKET</key>
	<string>sportupdates-6a290.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728975267704:ios:243100bdaf099b6bbe5a8d</string>
</dict>
</plist>